*,
*:after,
*:before {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: 90%;
}

.header {
  background: peachpuff;
  height: 80px;
  width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filterList {
  background: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filter {
  height: 30px;
  width: 100px;
  border: 2px solid black;
  margin: 10px;
}

.placeList {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background: blue;
  height: 100%;
  overflow: scroll;
}

.place {
  display: flex;
  flex-direction: row;
  background: beige;
  height: 200px;
  width: 400px;
  margin: 20px;
  border: 2px solid black;
}

.placeText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-start;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  background: white;
  height: 100%;
  width: 50%;
  padding: 5px;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
