*,
*:after,
*:before {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: 90%;
}

.header {
  z-index: 1;
  position: relative;
  background: peachpuff;
  height: 80px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgb(129, 110, 94);
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filterList {
  background: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.filter {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 150px;
  border: 2px solid black;
  margin: 10px;
}

.placeList {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  background: rgb(175, 206, 181);
  height: 100%;
  overflow: scroll;
  box-shadow: 0 -2px 5px 0 rgb(118, 138, 123);
}

.place {
  display: flex;
  flex-direction: row;
  background: beige;
  height: 200px;
  width: 420px;
  margin-top: 30px;
  margin-right: 10px;
  border: 2px solid black;
}

.placeText {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
  justify-content: flex-start;
  text-align: center;
  padding: 5px;
}

.placeFilters {
  display: flex;
  justify-content: space-around;
}

.image {
  display: flex;
  justify-content: center;
  background: white;
  height: 100%;
  max-width: 50%;
  padding: 5px;
  object-fit: cover;
  object-position: top center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
