*,
*:after,
*:before {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  height: 90%;
}

.header {
  z-index: 1;
  position: relative;
  background: rgb(240, 232, 248);
  height: 80px;
  width: 100%;
  border: 5px solid rgb(218, 204, 233);
  box-shadow: 0 2px 5px 0 rgb(165, 165, 167);
  text-shadow: 2px 2px 2px white;
  /* text-shadow: 3px 3px 3px white; */
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.filterList {
  background: beige;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
}

.filter {
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 150px;
  border: 5px solid rgb(224, 224, 183);
  margin: 10px;
}

.placeList {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  border: 5px solid rgb(216, 195, 176);
  padding: 10px;
  background: rgb(245, 225, 208);
  height: 100%;
  overflow: scroll;
  box-shadow: 0 -2px 5px 0 rgb(136, 116, 98);
}

.place {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  background: beige;
  height: 250px;
  width: 420px;
  margin: 10px;
  border: 5px solid rgb(216, 195, 176);
}

.placeText {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: 50%;
  justify-content: flex-start;
  padding: 5px;
}

.placeFilters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image {
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  background: white;
  height: 100%;
  max-width: 50%;
  padding: 5px;
  object-fit: cover;
  object-position: top center;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
